body {
  font-family: Arial, sans-serif;
  background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    z-index: 10;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #ff4081;
  }
  